*{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
}

header{
    width: 70%;
    background-color: aqua;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    
    
}

h1{
    margin-bottom: 30px;
}

p{
    text-align: justify;
}

ul{
    margin-bottom: 50px;
}

li{
    
}
